html
  head
    link(href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T", crossorigin="anonymous")
    title Ganhadores
     
body
    .container
      h1(style={color: 'maroon'}) A dupla ganhadora do jogo de Tom e Jerry
      div Os ganhadores entavam a uma distancia:
         ul               
            li= distancia
      div O ganhador A entava nos seguintes pontos X e Y:
         ul               
           li=pontoAx
           li=pontoAy
      div O ganhador B entava nos seguintes pontos X e Y:
         ul               
           li=pontoBx
           li=pontoBy
                
                